html{
  background: rgb(15, 18, 20);
  color: #3b82f680;
}
.App{
  padding: 30px;
  display:flex;
}

.App > div{
  margin-right: 50px;
}

.error {
  border: red 1px solid;
  color: red;
}

.error-message {
  color:red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}